/*  Stili generali di pagina */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 20px;
    font-family: Whitney, ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
}

/*----------------stile sezione nav-----------------------*/

.block1 {
    background-color: rgb(160, 231, 255);  
    min-height: 50px; 
    padding: 10px 0px 10px 0px;
}

.container1 {
    display: flex;
    min-height: 20px;
    flex-direction: row;
    justify-content: center;
    
}
.container1 > .item .logo {
    color: red;
}
.container1 > .item {
    flex-basis: 10%;
    background-color: orange;
    border: 2px dashed black;
} 

.container1 > .item1 {
    flex-basis: 50%;
    text-align: center;
    background-color: orange;
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
} 

/*----------------stile sezione header-----------------------*/

.block2 {
    background-color: rgb(2, 18, 112);  
    padding: 30px 0px 30px 0px;
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: center; 
}
.container2 > .item{
    flex-basis: 50%;
    min-height: 300px;
    background-color: rgb(250, 157, 173);
    border: 2px dashed black;
}

/*----------------stile sezione main-----------------------*/

/* blocco1 */

.container3 {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    background-color: white;  
    padding: 30px 0px 30px 0px;

}
.container3 > .item{
    flex-basis: 40%;
    min-height: 400px;
    background-color: rgb(184, 237, 255);
    border: 2px dashed black;
}

.container3 > .item1{
    flex-basis: 20%;
    min-height: 400px;
    background-color: rgb(255, 208, 216);
    border: 2px dashed black;
}

/* blocco2 */

.container4 {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    background-color: rgb(238, 237, 237);  
    padding: 30px 0px 30px 0px;
}
.container4 > .item{
    flex-basis: 15%;
    min-height: 400px;
    background-color: rgb(184, 237, 255);
    border: 2px dashed black;
}

.container4 > .item1{
    flex-basis: 45%;
    min-height: 400px;
    background-color: rgb(255, 208, 216);
    border: 2px dashed black;
}

/* blocco3 */

.container5 {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    background-color: white;  
    padding: 30px 0px 30px 0px;
}
.container5 > .item{
    flex-basis: 50%;
    min-height: 400px;
    background-color: rgb(184, 237, 255);
    border: 2px dashed black;
}

.container5 > .item1{
    flex-basis: 10%;
    min-height: 400px;
    background-color: rgb(255, 208, 216);
    border: 2px dashed black;
}